{% comment %}
  Queemchi home-only animation assets.
  Include this snippet in layout/theme.liquid before </body>.
{% endcomment %}

{% if request.page_type == 'index' %}
  <script src="{{ 'gsap.min.js' | asset_url }}" defer></script>
  <script src="{{ 'ScrollTrigger.min.js' | asset_url }}" defer></script>
  <script src="{{ 'queemchi-home.js' | asset_url }}" defer></script>
{% endif %}
