<div id="contacto" class="section padding-side">
    <div class="spin-section over">
      <div class="half-section full">
        <div class="cta-heading-wrapper h">
          <div class="content-wrapper-page center-mobile">
            <div class="tag-wrapper">
              <div class="bullet-icon-purple"></div>
              <div>Empieza aquí</div>
            </div>
            <h2 class="heading-large">¿Listo para darle vida a tu comida? <br/></h2>
            <div class="div-block-2">
              <a href="mailto:mvb@madeful.de" class="button black w-inline-block">
                <div>Haz tu pedido</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="spin-wrapper-side inner">
        <div data-w-id="83c61644-4355-7f20-b0e7-39df7f7b555d" class="main-spin">
          <div c
          
          
          
          
          
          
          
          
          
          data-w-id="83c61644-4355-7f20-b0e7-39df7f7b555f" class="spin-icon"><img src="imgs/Group-49.png" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="img-logo-rotate rotate-45"/></div>
            <div class="spin-icon"><img src="imgs/Group-51.png" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="img-logo-rotate"/></div>
          </div>
          <div class="s-row _90">
            <div class="spin-icon"><img src="imgs/Group-48.png" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="img-logo-rotate r45"/></div>
            <div class="spin-icon"><img src="imgs/Group-47.png" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="img-logo-rotate rotate-45"/></div>
          </div>
          <div class="s-row">
            <div class="spin-icon"><img src="imgs/Group-44.png" loading="lazy" sizes="(max-width: 1600px) 100vw, 1600px" alt="" class="img-logo-rotate"/></div>
            <div class="spin-icon"><img src="imgs/Group-45.png" loading="lazy" sizes="(max-width: 1600px) 100vw, 1600px" alt="" class="img-logo-rotate"/></div>
          </div>
          <div class="s-row-h">
            <div class="spin-icon"><img src="imgs/Group-42.png" loading="lazy" sizes="(max-width: 1600px) 100vw, 1600px" alt="" class="img-logo-rotate"/></div>
            <div class="spin-icon"><img src="imgs/Group-50.png" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="img-logo-rotate"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="faq" class="divider"></section>
  <section class="section gap-l">
    <div class="container gap-m">
      <p data-w-id="46353018-90c9-5f8b-58c7-0186d60da2ca" style="opacity:0;-webkit-transform:translate3d(0, 1em, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 1em, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 1em, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 1em, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="uppercase-regular">Preguntas frecuentes</p>
      <div class="faq-wrapper">
        <div class="faq-content">
          <a href="#" class="faq-link-block w-inline-block">
            <div class="heading-regular">¿Qué es el kimchi?</div>
            <div class="close-button"></div>
          </a>
          <div class="faq-inner">
            <p class="main-paragraph-w">If you&#39;re in the early stages of your startup or planning to launch a new product or service, a Minimum Viable Brand (MVB) is your go-to strategy. The MVB serves as the cornerstone of your brand&#39;s identity, used for pitching to investors, marketing your business, and cultivating a strong customer base.</p></p>
          </div>
        </div>
        <div class="faq-content">
          <a href="#" class="faq-link-block w-inline-block">
            <div class="heading-regular">¿Cómo se come Queemchi?</div>
            <div class="close-button"></div>
          </a>
          <div class="faq-inner">
            <p class="main-paragraph-w">Directo del frasco como acompañante, sobre arroz, con huevos, en bowls, sopas, tacos, hamburguesas, sándwiches o salteados.</p>
          </div>
        </div>
        <div class="faq-content">
          <a href="#" class="faq-link-block w-inline-block">
            <div class="heading-regular">¿Tiene probióticos?</div>
            <div class="close-button"></div>
          </a>
          <div class="faq-inner">
            <p class="main-paragraph-w">Sí. Al estar fermentado naturalmente, QUEEMCHI contiene cultivos vivos propios del proceso de fermentación.</p>
          </div>
        </div>
        <div class="faq-content">
          <a href="#" class="faq-link-block w-inline-block">
            <div class="heading-regular">¿Es muy picante?</div>
            <div class="close-button"></div>
          </a>
          <div class="faq-inner">
            <p class="main-paragraph-w">Tiene picante, pero buscamos equilibrio. También puedes manejar varias versiones: clásico, suave o extra picante.</p>
          </div>
        </div>
        <div class="faq-content">
          <a href="#" class="faq-link-block w-inline-block">
            <div class="heading-regular">¿Cómo debo conservarlo?</div>
            <div class="close-button"></div>
          </a>
          <div class="faq-inner">
            <p class="main-paragraph-w">Refrigerado. Como es un alimento vivo, seguirá fermentando lentamente con el tiempo y su sabor se volverá más ácido.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
