<section id="benefits" class="divider"></section>
  <section class="section gap-l">
    <div class="container gap-m">
      <div id="w-node-d26031ea-9607-551b-db47-1e2216c872f5-4901b859" class="h-wrapper">
        <div data-w-id="d26031ea-9607-551b-db47-1e2216c872f6" style="opacity:0" class="center-wrapper">
          <div class="tag-wrapper">
            <div class="bullet-icon-purple"></div>
            <div>Beneficios</div>
          </div>
          <p class="uppercase-medium">Es hora de darle más vida a tu comida.</p>
          <p class="paragraph-small min-width">Fermentamos cada lote con paciencia para lograr un kimchi fresco, balanceado y lleno de sabor. Tradición coreana, producción local y una marca pensada para quienes quieren comer mejor sin aburrirse.</p>
        </div>
      </div>
      <div class="flex-cards">
        <div class="card-wrap">
          <div class="flip-wrapper">
            <div class="inner-flip">
              <div class="flip-content-front">
                <a data-w-id="d26031ea-9607-551b-db47-1e2216c872fe" href="#" class="card-button w-inline-block"></a>
                <div class="w-layout-grid content-grid gap-short">
                  <div class="card-inner-header">
                    <h3 class="heading-medium">Sabor vivo. Picante, ácido, umami y crujiente.</span></h3>
                  </div>
                  <div id="w-node-d26031ea-9607-551b-db47-1e2216c87307-4901b859" class="card-inner-b"><img src="imgs/speed.png" loading="lazy" width="Auto" data-w-id="9031e83d-9a11-d351-321b-30c16919cf57" alt="" class="speed-img"/></div>
                </div>
              </div>
              <div class="flip-content-back">
                <div id="w-node-d26031ea-9607-551b-db47-1e2216c8730a-4901b859" class="center-flex-wrapper-copy">
                  <h3 class="heading-regular pink">Un acompañante versátil que transforma arroz, huevos, bowls, sopas, tacos, sándwiches o lo que tengas en la nevera</h3>
                </div>
                <a data-w-id="d26031ea-9607-551b-db47-1e2216c8730f" href="#" class="link-block-close w-inline-block"></a>
              </div>
            </div>
          </div>
          <div class="flip-wrapper">
            <div class="inner-flip">
              <div class="flip-content-front">
                <a data-w-id="d26031ea-9607-551b-db47-1e2216c8732e" href="#" class="card-button w-inline-block"></a>
                <div id="w-node-d26031ea-9607-551b-db47-1e2216c8732f-4901b859" class="card-inner-bg">
                  <div>
                    <h3 class="heading-medium">Fermentación natural, sin atajos.</h3>
                  </div>
                </div>
              </div>
              <div class="flip-content-back">
                <a data-w-id="d26031ea-9607-551b-db47-1e2216c87333" href="#" class="link-block-close w-inline-block"></a>
                <div class="center-flex-wrapper-copy">
                  <h3 class="heading-regular pink">Probióticos naturales, ingredientes reales y procesos artesanales para alimentar tu microbiota de forma simple.</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="flip-wrapper">
            <div class="inner-flip">
              <div class="flip-content-front">
                <a data-w-id="d26031ea-9607-551b-db47-1e2216c87313" href="#" class="card-button w-inline-block"></a>
                <div class="w-layout-grid content-grid-tablet-reverse gap-short">
                  <div id="w-node-d26031ea-9607-551b-db47-1e2216c87315-4901b859" class="card-inner-top"><img src="imgs/scale.png" loading="lazy" width="Auto" data-w-id="d26031ea-9607-551b-db47-1e2216c8731d" alt="" class="scale-img"/></div>
                  <div id="w-node-d26031ea-9607-551b-db47-1e2216c8731e-4901b859" class="card-inner-c">
                    <h3 class="heading-medium">Hecho para tu mesa diaria.</h3>
                  </div>
                </div>
              </div>
              <div class="flip-content-back">
                <a data-w-id="d26031ea-9607-551b-db47-1e2216c87324" href="#" class="link-block-close w-inline-block"></a>
                <div class="center-flex-wrapper-copy">
                  <h3 class="heading-regular pink">No necesitas ser experto en comida coreana. Solo abre el frasco, sirve una cucharada y dale carácter a cualquier comida.</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
