<footer class="section">
  <div class="footer-wrapper">
    <div class="container footer w-container">
      <div class="w-layout-grid grid-footer">
        <div id="w-node-ed793652-6d24-afcd-8e11-3364d5be0bd6-07bf8e43"><img src="imgs/logo-mvb.svg" loading="lazy" alt="" class="footer-logo"/></div>
        <div id="w-node-_4f85948e-80ee-c352-6ea1-fe12f4e5d894-07bf8e43" class="footer-wrapper-links">
          <a href="https://www.madeful.de/" target="_blank" class="link-footer small">Agency Website</a>
          <a href="https://www.madeful.de/imprint" target="_blank" class="link-footer small">Imprint</a>
          <a href="https://www.madeful.de/privacy" target="_blank" class="link-footer small">Privacy</a>
          <a href="docs/AGB-MADEFUL-01-02-2024.pdf" target="_blank" class="link-footer small">Terms</a>
        </div>
      </div>
    </div>
  </div>
</footer>
