<div class="section">
    <div class="spinner-hero">
      <div id="w-node-_58f8ed35-58b0-73ac-f80a-2d264c23c6cc-4901b859" class="container-wrapper">
        <div class="container w-container">
          <div id="w-node-_58f8ed35-58b0-73ac-f80a-2d264c23c6ce-4901b859" class="hero-header-wrapper">
            <div data-w-id="59b3f4c8-5558-14cb-c479-552a1133e53f" style="opacity:0" class="tag-wrapper">
              <div class="bullet-icon"></div>
              <div>Sabor coreano</div>
            </div>
            <div id="w-node-_9088d9f4-31b2-928a-df1a-d155e7082c16-4901b859" class="center-wrapper no-gap">
              <div data-w-id="9088d9f4-31b2-928a-df1a-d155e7082c17" style="opacity:0" class="overflow">
                <h1 class="uppercase-medium">Queemchi</h1>
              </div>
              <div data-w-id="5231ed21-3094-a791-5363-62bf805eb60e" style="opacity:0" class="overflow">
                <p class="uppercase-medium">Kimchi vivo, hecho cerca de ti</p>
              </div>
            </div>
            <p data-w-id="58f8ed35-58b0-73ac-f80a-2d264c23c6d1" style="opacity:0" class="paragraph-small max-width-50">Kimchi artesanal, fermentado naturalmente, con ingredientes frescos y mucho sabor. Una forma fácil de sumar probióticos, picante y carácter a tus comidas de todos los días.</p>
          </div>
        </div>
      </div>
      <div data-w-id="58f8ed35-58b0-73ac-f80a-2d264c23c6d5" style="opacity:0" class="spinner-hero-wrap">
        <div id="w-node-_58f8ed35-58b0-73ac-f80a-2d264c23c6d6-4901b859" class="device-hero-wrapper center">
          <div class="spinner-wrapper">
            <div data-w-id="58f8ed35-58b0-73ac-f80a-2d264c23c6d8" class="spinner-container">
              <div class="spinner-column _45-rev">
                <div class="spinner-card"><img src="imgs/wheel1.png" loading="lazy" sizes="(max-width: 2000px) 100vw, 2000px" alt="" class="cover-image"/></div>
                <div class="spinner-card f"><img src="imgs/wheel8.png" loading="lazy" sizes="(max-width: 2000px) 100vw, 2000px" alt="" class="cover-image"/></div>
              </div>
              <div class="spinner-column _45">
                <div class="spinner-card"><img src="imgs/wheel7.png" loading="lazy" sizes="(max-width: 1800px) 100vw, 1800px" alt="" class="cover-image"/></div>
                <div class="spinner-card f"><img src="imgs/wheel4.png" loading="lazy" sizes="(max-width: 2000px) 100vw, 2000px" alt="" class="cover-image"/></div>
              </div>
              <div class="spinner-column _90">
                <div class="spinner-card"><img src="imgs/wheel5.png" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="cover-image"/></div>
                <div class="spinner-card"><img src="imgs/wheel6.png" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="cover-image rev"/></div>
              </div>
              <div class="spinner-column">
                <div class="spinner-card"><img src="imgs/wheel3.png" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="cover-image"/></div>
                <div class="spinner-card f"><img src="imgs/wheel2.png" loading="lazy" sizes="(max-width: 1600px) 100vw, 1600px" alt="" class="cover-image"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="spinner-gradient"></div>
    </div>
  </div>
  <section class="divider"></section>
  <div class="section">
    <div data-w-id="f38d75df-e8a7-edd1-551b-ed48d394081d" class="track">
      <div class="inner-track">
        <div data-w-id="f38d75df-e8a7-edd1-551b-ed48d394081f" class="header-c-wrapper absolute">
          <div class="c-flip-wrap _01">
            <div class="c-flip-front"><img src="imgs/m1.png" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="cover-image"/></div>
            <div class="c-flip-back"><img src="imgs/m4.png" loading="lazy" sizes="(max-width: 2000px) 100vw, 2000px" alt="" class="cover-image"/></div>
          </div>
          <div class="c-flip-wrap _02">
            <div class="c-flip-front"><img src="imgs/m5.png" loading="lazy" sizes="(max-width: 2000px) 100vw, 2000px" alt="" class="cover-image"/></div>
            <div class="c-flip-back"><img src="imgs/m2.png" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="cover-image"/></div>
          </div>
          <div class="c-flip-wrap _03">
            <div class="c-flip-front"><img src="imgs/m7.png" loading="lazy" sizes="(max-width: 2000px) 100vw, 2000px" alt="" class="cover-image"/></div>
            <div class="c-flip-back"><img src="imgs/m3.png" loading="lazy" sizes="(max-width: 1600px) 100vw, 1600px" alt="" class="cover-image"/></div>
          </div>
          <div class="c-flip-wrap _04">
            <div class="c-flip-front"><img src="imgs/m8.png" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="cover-image"/></div>
            <div class="c-flip-back"><img src="imgs/m6.png" loading="lazy" sizes="(max-width: 2000px) 100vw, 2000px" alt="" class="cover-image"/></div>
          </div>
        </div>
        <div class="fixed-content-wrapper">
          <div class="content-scroll-wrap">
            <h2 class="heading-large">Una cucharada puede cambiar todo un plato...</h2>
          </div>
          <div class="_2-content-scroll-wrap">
            <h2 class="heading-large">...pero encontrar kimchi fresco, rico y natural no siempre es fácil.</h2>
          </div>
          <div class="_3-content-scroll-wrap">
            <h2 class="heading-large">Queemchi nace para hacer que la fermentación sea accesible, deliciosa y parte de la rutina.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
