<nav class="wrappernav">
    <div data-animation="default" class="navbar w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" role="banner" data-no-scroll="1" data-duration="400" data-doc-height="1">
      <div class="w-layout-grid navgrid">
        <nav role="navigation" id="w-node-c5446576-037a-3c55-f8c6-24ef5dad1fda-5dad1fd4" class="nav-menu w-nav-menu">
          <div class="inner-nav-wrapper">
            <a href="#benefits" class="menu-item w-inline-block">
              <div>Beneficios</div>
            </a>
            <a href="#modules" class="menu-item w-inline-block">
              <div>Nuestro Producto</div>
            </a>
            <a href="#pricing" class="menu-item w-inline-block">
              <div>Presentaciones</div>
            </a>
            <a href="#faq" class="menu-item w-inline-block">
              <div>Preguntas Frecuentes</div>
            </a>
            <a href="#" class="menu-item w-inline-block">
              <div>Haz tu Pedido</div>
            </a>
          </div>
        </nav>
        <div id="w-node-c5446576-037a-3c55-f8c6-24ef5dad203f-5dad1fd4" class="menu-button w-nav-button">
          <div class="menu-mobile">
            <div class="sticky-nav"></div>
            <div class="sticky-nav"></div>
          </div>
        </div>
      </div>
    </div>
  </nav>
