  <section id="pricing" class="section gap-l">
    <div class="container gap-m">
      <div class="center-wrapper">
        <div class="tag-wrapper">
          <div class="bullet-icon-purple"></div>
          <div>Presentaciones</div>
        </div>
        <h2 class="heading-large ch">Kimchi para probar, repetir y compartir.<br/></h2>
      </div>
      <div class="w-layout-grid main-grid plan">
        <div id="w-node-c6213742-cde9-df4e-4d64-692014e45ab4-4901b859" class="box-wrapper gap-s">
          <div class="pricing-top">
            <div>
              <h3 class="heading-medium">Personal</h3>
            </div>
            <div class="list-wrapper">
              <div class="list-flex">
                <div class="circle-check"><img src="imgs/icon-check.svg" loading="lazy" alt="" class="icon-check"/></div>
                <div>Para quienes quieren empezar o sumar kimchi a pocas comidas por semana.</div>
              </div>
            </div>
          </div>
          <a href="application/index.html" class="button bg-white w-inline-block">
            <div>Quiero el mio</div><img src="imgs/cta-arrow-white.svg" loading="lazy" alt="" class="icon-arrow"/>
          </a>
        </div>
        <div id="w-node-c6213742-cde9-df4e-4d64-692014e45ad5-4901b859" class="box-wrapper gap-s">
          <div class="pricing-top">
            <div>
              <h3 class="heading-medium">Familiar</h3>
            </div>
            <div class="list-wrapper">
              <div class="list-flex">
                <div class="circle-check"><img src="imgs/icon-check.svg" loading="lazy" alt="" class="icon-check"/></div>
                <div>Para compartir con todos y usarlo como acompañante diario.</div>
              </div>
            </div>
          </div>
          <a href="application/index.html" class="button bg-white w-inline-block">
            <div>Quiero el mio</div><img src="imgs/cta-arrow-white.svg" loading="lazy" alt="" class="icon-arrow"/>
          </a>
        </div>
        <div id="w-node-c6213742-cde9-df4e-4d64-692014e45af6-4901b859" class="box-wrapper gap-s">
          <div class="pricing-top">
            <div>
              <h3 class="heading-medium">Jumbo</h3>
            </div>
            <div class="list-wrapper">
              <div class="list-flex">
                <div class="circle-check"><img src="imgs/icon-check.svg" loading="lazy" alt="" class="icon-check"/></div>
                <div>Para tener siempre en la nevera.</div>
              </div>
            </div>
          </div>
          <a href="application/index.html" class="button bg-white w-inline-block">
            <div>Quiero el mio</div><img src="imgs/cta-arrow-white.svg" loading="lazy" alt="" class="icon-arrow"/>
          </a>
        </div>
      </div>
      <div data-w-id="001c5575-5835-ef52-b127-f05e2621f5a4" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.85, 0.85, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.85, 0.85, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.85, 0.85, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.85, 0.85, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="rounded-block">
        <div class="w-layout-grid main-grid pricing-models">
          <div id="w-node-_001c5575-5835-ef52-b127-f05e2621f5a6-4901b859" class="rounded-col bg-color"></div>
          <div id="w-node-_001c5575-5835-ef52-b127-f05e2621f5be-4901b859" class="inner-card-center b-padding">
            <div class="tag-wrapper">
              <div class="bullet-icon-purple"></div>
              <div>Suscripción</div>
            </div>
            <h2 class="heading-medium">2 frascos mensuales con distintas versiones de Queemchi, Una selección de sabores para encontrar tu Queemchi favorito.<br/></h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="section">
    <div data-w-id="5061e964-3661-8b23-1da4-d3f59c865efe" class="track">
      <div class="inner-track">
        <div class="fixed-content-wrapper">
          <div class="content-scroll-wrap">
            <div class="walsh-center-h-wrapper">
              <div class="walsh-cta-h-wrapper">
                <h3 class="heading-medium">&#34;Queemchi me hizo entender que comer saludable no tiene que saber aburrido. Ahora se lo pongo a casi todo.&#34;</h3>
                <div class="walsh-profile-v-wrapper">
                  <div class="walsh-circle-image"><img loading="lazy" src="imgs/ma.png" alt="" class="walsh-cover-image"/></div>
                  <div class="walsh-info-wrap-center">
                    <div class="walsh-heading-small-white">Mohamed Attia</div>
                    <div class="walsh-text-small-white">CEO at NEX Aero GmbH</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="_2-content-scroll-wrap">
            <div class="walsh-center-h-wrapper">
              <div class="walsh-cta-h-wrapper">
                <h3 class="heading-medium">&#34;Es fresco, crujiente y con el punto perfecto de picante. Se nota que está hecho en serio.&#34;</h3>
                <div class="walsh-profile-v-wrapper">
                  <div class="walsh-circle-image"><img loading="lazy" src="imgs/mf.png" alt="" class="walsh-cover-image"/></div>
                  <div class="walsh-info-wrap-center">
                    <div class="walsh-heading-small-white">Marc Forstmann</div>
                    <div class="walsh-text-small-white">CEO at inside360 GmbH</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="_3-content-scroll-wrap">
            <div class="walsh-center-h-wrapper">
              <div class="walsh-cta-h-wrapper">
                <h3 class="heading-medium">&#34;Lo compré por curiosidad y terminó siendo fijo en mi nevera.&#34;</h3>
                <div class="walsh-profile-v-wrapper">
                  <div class="walsh-circle-image"><img loading="lazy" src="imgs/fs.png" alt="" class="walsh-cover-image"/></div>
                  <div class="walsh-info-wrap-center">
                    <div class="walsh-heading-small-white">Felix Styma</div>
                    <div class="walsh-text-small-white">CEO at iconomy GmbH</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
